# Database
DATABASE_URL="postgresql://haccp:haccp@localhost:5433/haccp?schema=public"

# NextAuth
# Generer un secret : openssl rand -base64 32
AUTH_SECRET="replace-me-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Email (Resend)
# https://resend.com -> get API key
RESEND_API_KEY=""
EMAIL_FROM="HACCP Maison Givre <noreply@maison-givre.fr>"

# App
NODE_ENV="development"
