# Database
DATABASE_URL="postgresql://haccp:haccp@localhost:5433/haccp?schema=public"

# NextAuth
# Generer un secret : openssl rand -base64 32
AUTH_SECRET="replace-me-with-openssl-rand-base64-32"
NEXTAUTH_SECRET="replace-me-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Application
APP_BASE_URL="http://localhost:3000"

# Email (Resend)
# https://resend.com -> get API key
RESEND_API_KEY=""
RESEND_FROM_EMAIL="HACCP Maison Givre <noreply@maison-givre.fr>"

# Rate limiting (Upstash Redis)
# https://upstash.com -> Redis -> REST API
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# App
NODE_ENV="development"
